@keyframes fadeUp{
        0%{
            opacity: 0;
            transform: translateY(100%);
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }
@media only screen and (min-width:320px) and (max-width:1023px){
    html, body {
        overflow: auto;
        background-color: #fff;
    }
    #header{
        border: none;
        border-bottom: 1px solid rgb(34, 31, 31, .1);
        background: #fff;
    }
    /*page-container*/
    .page-container-content{
        padding: 0;
        position: relative;
        height: 100%;
        left: 7.5%;
        width: 92.5%;
        top: 80px;
    }
    .portfolio-page{
        position: relative;
    }
    .vc_colm{
        position: relative;
        min-height: 1px;
        width: 100%;
    }
    .portfolio-content, .images-wrap{
        position: relative;
        top: 0px;
        left: 0px;
        padding-top: 120px;
        width: 100%;
    }
    .vc_colm.portfolio-content{
        padding: 16px 16px 0 0;
    }
    .vc_colm.images-wrap{
        padding: 0;
    }
    .portfolio-content .vc_row{
        width: 100%;
        margin: auto;
    }
    .images-wrap .vc_row{
        width: 100%;
        margin: auto;
    }
    .images-wrap img{
        width: 100%;
        margin: 12px 0;
    }
    .vc_row h4{
        color: var(--third-color);
        clear: both;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-align: inherit;
        margin: 20px 0 20px;
        line-height: 1.2;
        position: relative;
        font-size: 14px;
    }
    .vc_row h2{
        margin: 20px 0 5px;
        font-size: 36px;
        font-weight: 600;
        line-height: 1.2;
        text-decoration: none;
        display: block;
        font-family: poppins;
        color: var(--third-color);
    }
    /*input-group*/
    .input-group{
        width: 100%;
        height: 64px;
    }
    .input-group label{
        float: left;
        padding-top: 20px;
    }
    .input-group label.col-6{
        width: 100%;
    }
    textarea{
        width: 100%;
        min-height: 100%;
        max-height: 100%;
        resize: none;
    }
    input, textarea{
        width: 100%;
    }
    .input-group label input, textarea{
        font-family: rubik;
        border: none;
        border-bottom: 1px solid rgb(34, 31, 31, .1);
        padding: 12px 0;
        color: var(--third-color);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .input-group label input::placeholder, textarea:placeholder{
        color: var(--third-color);
    }
    .input-group label input:focus, textarea:focus{
        color: var(--third-color);
        outline: none;
        border-bottom: 1px solid var(--main-color);
    }
    .btn {
        margin-top: 10px;
        padding: 15px 25px 14px;
        border: 1px solid var(--main-color);
        border-radius: 50px;
        vertical-align: middle;
        outline: none;
        display: inline-block;
        text-align: center;
        transition: all .3s ease;
        font-weight: 600;
    }
    .btn-brand{
        border-color: var(--main-color);
        font-family: poppins;
        background: var(--main-color);
        color: #fff;
    }
    .btn:hover{
        color: red;
        background: #fff;
        cursor: pointer;
    }
    form{
        margin-bottom: 48px;
    }
}
@media only screen and (min-width:1024px){
    html, body {
        overflow: auto;
    }
    #header{
        border: none;
        border-bottom: 1px solid rgb(34, 31, 31, .1);
        background: #fff;
    }
    /*page-container*/
    .page-container-content{
        padding: 0;
        position: relative;
        height: 100%;
        left: 7.5%;
        width: 92.5%;
        top: 20%;
    }
    .portfolio-page{
        position: relative;
    }
    .vc_colm{
        position: relative;
        min-height: 1px;
        width: 100%;
    }
    .portfolio-content, .images-wrap{
        position: relative;
        top: 0px;
        left: 0px;
        padding-top: 120px;
        width: 100%;
    }
    .vc_colm.portfolio-content{
        padding: 16px 0 0;
    }
    .vc_colm.images-wrap{
        padding: 0;
    }
    .portfolio-content .vc_row{
        width: 50%;
        margin: auto;
    }
    .images-wrap .vc_row{
        width: 100%;
        margin: auto;
    }
    .images-wrap img{
        width: 100%;
        margin: 12px 0;
    }
    .vc_row h4{
        color: var(--third-color);
        clear: both;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-align: inherit;
        margin: 35px 0 20px;
        line-height: 1.2;
        position: relative;
        font-size: 14px;
    }
    .vc_row h2{
        margin: 20px 0 5px;
        font-size: 36px;
        font-weight: 600;
        line-height: 1.4;
        text-decoration: none;
        display: block;
        font-family: poppins;
        color: var(--third-color);
    }
    /*input-group*/
    .input-group{
        width: 100%;
        height: 64px;
    }
    .input-group label{
        float: left;
        padding-top: 20px;
    }
    .input-group label.col-6{
        width: 100%;
    }
    textarea{
        width: 100%;
        min-height: 100%;
        max-height: 100%;
        resize: none;
    }
    input, textarea{
        width: 75%;
    }
    .input-group label input, textarea{
        font-family: rubik;
        border: none;
        border-bottom: 1px solid rgb(34, 31, 31, .1);
        padding: 12px 0;
        color: var(--third-color);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .input-group label input::placeholder, textarea:placeholder{
        color: var(--third-color);
    }
    .input-group label input:focus, textarea:focus{
        color: var(--third-color);
        outline: none;
        border-bottom: 1px solid var(--main-color);
    }
    .btn {
        margin-top: 10px;
        padding: 15px 25px 14px;
        border: 1px solid var(--main-color);
        border-radius: 50px;
        vertical-align: middle;
        outline: none;
        display: inline-block;
        text-align: center;
        transition: all .3s ease;
        font-weight: 600;
    }
    .btn-brand{
        border-color: var(--main-color);
        font-family: poppins;
        background: var(--main-color);
        color: #fff;
    }
    .btn:hover{
        color: red;
        background: #fff;
        cursor: pointer;
    }
}